<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>88670146773-f5t34r4cm7s5svp93d864hip3a4vhs20.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.88670146773-f5t34r4cm7s5svp93d864hip3a4vhs20</string>
	<key>API_KEY</key>
	<string>AIzaSyD0kLbNJIh4BDW9trUfFUBQoIeB_67Wn6k</string>
	<key>GCM_SENDER_ID</key>
	<string>88670146773</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.flatironschool.team-lemon-handshake</string>
	<key>PROJECT_ID</key>
	<string>pinitiative-7fb64</string>
	<key>STORAGE_BUCKET</key>
	<string>pinitiative-7fb64.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:88670146773:ios:cad1b9a7e60bf796</string>
	<key>DATABASE_URL</key>
	<string>https://pinitiative-7fb64.firebaseio.com</string>
</dict>
</plist>
